@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,700;8..144,800&display=swap');

* {
    font-family: 'Roboto Flex', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.blockone, .footer {

    background-color: #1F2937;

}

.headleft, .herosection h1 {
    color: #F9FAF8;
}

.headleft {
    font-size: 24px;
}

.herosection h1{
    font-size: 48px;
}

.blocktwo h2, .quote{

    color:#1F2937;
}

.herosection p, .headright li a{
    color: #E5E7EB;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
    
}

a {
    text-decoration: none;
}

.blockone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.herosection {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.signup {
    width: 75px;
    flex: 0 0 1;
}

.blocktwo {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}

button {
    background-color: #E5E7EB;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}